EXPO_PUBLIC_SUPABASE_URL=https://vneyipoibsdczqnbgxyh.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZuZXlpcG9pYnNkY3pxbmJneHloIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODAwNDEzMTUsImV4cCI6MjA5NTYxNzMxNX0.CAK7ZtIZf3pfxXXVNiR8t7AUq4QY_vQ8LjgYNCDIJU0
